{% extends "base.html" %}
{% load static %}

{% block title %}
Contact Us
{% endblock title %}

{% block body %}
<div class="container-fluid px-0">
    <img src="{% static '22.jfif' %}" class="bd-placeholder-img card-img-top" alt="Contact">
</div>

<div class="container mt-4">
    <h1 class="text-center mb-4">Contact Us</h1>
    <form method="post" actions="\contact">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
        </div>
        <div class="mb-3">
            <label for="subject" class="form-label">Subject</label>
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter subject" required>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" name="message" rows="4" placeholder="Write your message" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock body %}
